Package: org.porkholt.livepapers.nexus
Name: Nexus
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: Marius Petcu
Author: Marius Petcu
Section: System
Tag: role::developer
