Package: org.porkholt.livepapers.bubblespro
Name: Bubbles Pro LivePaper
Depends: org.porkholt.LivePapers (>=1.0.2-60)
Version: 1.1.0
Architecture: iphoneos-arm
Description: Configurable OpenGL Bubbles live wallpaper
Maintainer: Porkholt Labs! <support@porkholt.org>
Author: Porkholt Labs! <support@porkholt.org>
Section: Addons (LivePapers)
