Package: org.porkholt.LivePapers
Name: LivePapers
Depends: mobilesubstrate, preferenceloader
Version: 1.0.2
Architecture: iphoneos-arm
Description: Live Wallpapers platform for iOS
Maintainer: Porkholt Labs! <support@porkholt.org>
Author: Porkholt Labs! <support@porkholt.org>
Icon: file:///Applications/LivePapers.app/Icon.png
Section: Tweaks
Conflicts: com.phoenix.mcpro6 (<= 1.0.6.1-2)
